<!DOCTYPE HTML>

<html>

<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

<title>绿城之都-南宁</title>

<meta content="绿城之都-南宁" name="keywords" />

<meta content="绿城之都-南宁" name="description" />

<link href="../css/base.css" rel="stylesheet" type="text/css">

<link href="../css/pagename.css" rel="stylesheet" type="text/css">




</head>



<body>



<!--header-->

<div class="header"> 

	<div class="w1000">

    	<p>你好，欢迎光临绿城之都南宁！</p>

        <div class="contact"><a href="../index.html">设为首页</a> <a href="../index.html">加入收藏</a></div>

	</div>

</div>





<div class="w1000">

	<div class="header_bottom">

			<a href="../index.html"><img src="../images/logo.jpg" width="294" height="49" alt="" title="绿城之都-南宁"></a>

       		<ul>

            	<li><a href="../index.html">网站首页</a></li>       

                <li><a href="historic.html">历史</a></li>     

                <li><a href="beautiful.html">风景</a></li>        

                <li><a href="tourism.html">旅游</a></li>      

                <li><a href="delicacy.html">美食</a></li>      

                <li><a href="new.html">动态</a></li>      

                <li><a href="leave.html">留言</a></li>  

				 <li><a href="about.html">团队介绍</a></li>       

                <li><a href="connection.html">联系我们</a></li>

     		</ul>  

    </div>       

</div>
<!--header结束--> 

<div class="container"> 		

		<!--banner开始-->

		<div class="banner_erji">

        	<img src="../images/banner_erji.jpg" width="1000" height="187" alt="" title="">

        </div>

		<!--banner结束--> 

		

		<!--content开始-->

		<div class="content clearfix">

        	<div class="leftbar">

            	<div class="leftnav">

                	<h1>话说南宁</h1>

                	<ul class="ul_left">

                    

                    

        <li><h3><a href="introduce.html">南宁简介</a></h3>

</li>

        

        <li><h3><a href="Culture.html">南宁文化</a></h3>

</li>

        

        <li><h3><a href="historic.html">南宁历史</a></h3>
		
</li>

         	</ul>

                 
                </div>

                <div class="left_lx">

                	<h1>联系方式</h1>

                    <p>地址：XXXX</p>

                      <p>联系人：XXXX</p>

                      <p>电话：0771-xxxxxxx</p>

                      <p>QQ：9XXX5</p>

                      <p>网址：wwXXXcom</p>

                      <p>邮编：530001</p>

                </div>

            </div>

        	<div class="rightbar">

            	<div class="bread"><a href="../index.html">首页</a> > 南宁文化</div>

                

            	<div class="con_news">

                	<p class="p_tit2">

                    	<span>南宁文化</span>

                        发布人:管理员　　发布时间：2016-07-2 23:25:28

                  </p>

                	<div class="con">

               		   <p>

	<p>

		&nbsp;&nbsp;&nbsp;&nbsp;南宁又称绿城。有东盟博览会，有民歌节。美丽的南方城市。
<br />

&nbsp;&nbsp;&nbsp;&nbsp;南宁，是一座历史悠久的边陲古城，具有深厚的文化积淀，古称邕州，是一个民族欢乐、活力动感的文化之城。南宁以壮族为主，居住着壮、汉、苗、瑶等36个少数民族，总人口为666.16万，各族人民和睦相处，民族文化缤纷灿烂，民俗活动多姿多彩。抛绣球、赛龙舟、板鞋舞、抢花炮、踩风车等各种民俗活动精彩纷呈。南宁是一座充满歌声的城市，每年一届的南宁国际民歌艺术节是世界民族艺术交流的盛会，热情的壮乡儿女与中外艺术家欢聚一堂，以歌会友、以歌传情，充分展示歌的海洋，舞的故乡的无限魅力。

<br />

&nbsp;&nbsp;&nbsp;&nbsp;南宁别称绿城、凤凰城、五象城。旅游资源丰富，北连桂林，南接北海，构成了广西的黄金旅游带。壮丽的边关风采、浪漫的海滩风貌、迷人的异国情调，星罗棋布的灵山秀水，古朴悠远的古迹故址，山、水、人、情构成南宁多层次的旅游景观。

<br />

&nbsp;&nbsp;&nbsp;&nbsp;南宁城区人通用南宁白话（粤语方言之一），郊区部分使用平话（汉语方言之一)，壮族使用壮语（分别属于南部方言邕南土语和北部方言邕北土语）。整个南宁市最通行的是南宁白话以及混杂粤语元素的普通话，各族人民大部分能使用普通话。

 <br />

	</p>

	<p>

		<br />

	</p>

                    </div>

              </div>

              

               

               

            </div>

        </div>

		<!--content结束--> 

</div>

<!--footer开始-->

<div class="footer"> 

	<p><a href="../index.html">首页</a> | <a href="historic.html">历史</a> | <a href="beautiful.html">风景</a> | <a href="tourism.html">旅游</a> | <a href="delicacy.html">美食</a> | <a href="new.html">动态</a> | <a href="leave.html">旅游</a>| <a href="connection.html">联系我们</a></p>

<p>Copyright &copy; 2015－2016 All Rights Reserved 版权所有 XXXXXXXXXXXXXXXXXX</p>
  <p>地址：XXXXXXXXXXXXXXXXXX  来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a> </p>
</div>



<!--footer 结束--> 

</body>

</html>

