<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>lvcityFG</display-name>
  
   <!-- 配置servlet -->
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>com.neuedu.lvcity.servlet.IndexServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/User/Index</url-pattern>
  </servlet-mapping>
  <!-- 配置首页为一个servlet,注意这里不加斜杠 -->
  <welcome-file-list>
    <welcome-file>User/Index</welcome-file>
  </welcome-file-list>
  
 <!-- 配置静态资源 -->
  <servlet>
    <servlet-name>default</servlet-name>
    <servlet-class>
          org.apache.catalina.servlets.DefaultServlet
        </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>*.js</url-pattern>
    <url-pattern>*.css</url-pattern>
    <url-pattern>*.jpg</url-pattern>
    <url-pattern>*.png</url-pattern>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  
 <!-- 编码过滤器 -->
<filter>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<filter-class>com.neuedu.lvcity.filter.SetCharacterEncodingFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>SetCharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
  
 
  
  
 
  

</web-app>